<div class="row">
  <div class="small-12 large-6 small-centered columns">
    <%= form_for sign_in_form, url: sign_in_url, method: :post do |f| %>
      <% if sign_in_form.errors.any? %>
        <ul>
          <% sign_in_form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="panel">
        <div class="row">
          <div class="small-2 columns">
            <%= f.label :email, class: "inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.email_field :email %>
          </div>
        </div>

        <div class="row">
          <div class="small-2 columns">
            <%= f.label :password, class: "inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.password_field :password %>
          </div>
        </div>

        <%= f.submit "Sign In", class: "button" %>
      </div>
    <% end %>
  </div>
</div>
