<div class="row">
  <div class="small-6 small-centered columns">
    <%= form_for form, url: users_url, method: :post do |f| %>
      <% if form.errors.any? %>
        <ul>
          <% form.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <fieldset>
        <legend>Sign Up</legend>

        <div class="row">
          <div class="small-2 columns">
            <%= f.label :email, class: "inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.email_field :email, placeholder: "Email Address" %>
          </div>
        </div>

        <div class="row">
          <div class="small-2 columns">
            <%= f.label :password, class: "inline" %>
          </div>
          <div class="small-10 columns">
            <%= f.password_field :password, placeholder: "Password" %>
          </div>
        </div>

        <%= f.submit "Sign Up", class: "button" %>
      </fieldset>
    <% end %>
  </div>
</div>
