<div class="row">
  <div class="small-12 columns">
    <h3><%= @app.name %></h3>
    <p>App Key: <%= @app.current_access_token.token %></p>

    <h3>Worst By Median DB Runtime</h3>
    <% @app.worst_sources_by_db_runtime.each do |source| %>
      <p><%= link_to "#{source.name} (#{source.db.median})", app_source_path(source.app, source) %></p>
    <% end %>

    <h3>Worst By Median View Runtime</h3>
    <% @app.worst_sources_by_view_runtime.each do |source| %>
      <p><%= link_to "#{source.name} (#{source.view.median})", app_source_path(source.app, source) %></p>
    <% end %>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Source</th>
          <th>DB Runtime</th>
          <th>View Runtime</th>
        </tr>
      </thead>
      <tbody>
        <% @app.latest_transactions.each do |transaction| %>
        <tr>
          <td><%= link_to transaction.id, app_transaction_path(transaction.app, transaction) %></td>
          <td><%= link_to transaction.source, app_source_path(transaction.app, transaction.source) %></td>
          <td><%= transaction.db_runtime %></td>
          <td><%= transaction.view_runtime %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
