<p><%= @app.name %></p>
<p><%= @app.current_access_token.token %></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Source</th>
      <th>DB Runtime</th>
    </tr>
  </thead>
  <tbody>
    <% @app.latest_transactions.each do |transaction| %>
    <tr>
      <td><%= link_to transaction.id, app_transaction_path(transaction.app, transaction) %></td>
      <td><%= transaction.source %></td>
      <td><%= transaction.db_runtime %></td>
    </tr>
  <% end %>
  </tbody>
</table>
